/*** STYLESHEET FOR [InWare] ***/

/* ===== General ===== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #247963;
  --primary-dark: #155c49;

  --text-dark: #222222;
  --text-light: #edf4f3;

  --accent-purple: #801b5d;
  --accent-orange: #ef7d00;

  --color-light: #f5f5f5;
  --color-error: #e62727;
  --color-success: #6fcf97;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-light);
  color: var(--text-dark);
  font-family: "Barlow", sans-serif;
}

/* ===== Layout ===== */

.app-layout {
  display: grid;
  grid-template-columns: 280px minmax(0, 1fr);
  height: 100vh;
  overflow: hidden;
  grid-template-areas: "sidebar content";
}

/* Sidebar */

.sidebar {
  grid-area: sidebar;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 0.5rem;
  background-color: var(--primary-color);
}

.sidebar-header {
  margin-bottom: 2.5rem;
}

.sidebar-navigation {
  width: 100%;
  flex: 1;
}

.sidebar-footer {
  margin-bottom: 2rem;
}

/* Logo */

.logo {
  display: block;
  width: 120px;
  height: 60px;
  flex-shrink: 0;

  svg {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-out;

    &:hover {
      transform: scale(1.2);
    }
  }

  /* img {
    display: block;
    width: 100%;
    height: 100%;
  } */
}

/* Main */

.main {
  min-width: 0;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

.content {
  grid-area: content;
  min-height: 0;
  min-width: 0;
  overflow-y: auto;
  display: grid;
  grid-template-rows: auto auto;
}

/* Footer */

.footer {
  background-color: var(--primary-dark);
  color: var(--text-light);
}

.footer-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--text-secondary);
  color: var(--bg-primary);
  font-size: 0.875rem;
}

/* ===== Content ===== */

.action-link {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-dark);
  transition: color 0.3s;


  &:hover {
    color: var(--primary-color);
  }
}

.action-link--alert:hover {
  color: var(--color-error);
}

.action-button {
   display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  background-color: transparent;
  color: var(--text-dark);
  border: none;
  font-size: clamp(1rem, 0.964rem + 0.18vw, 1.1rem);
  transition: color 0.3s;

  &:hover {
    color: var(--text-light);
  }
}

.section-title {
  margin-bottom: 2.5rem;
  color: var(--primary-dark);
  font-family: "Barlow Condensed", sans-serif;
  font-size: clamp(1.75rem, 1.659rem + 0.45vw, 2rem);
}

/* Statistics */

.stats {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.stat-label {
}

.stat-value {
  font-size: 1.5rem;
}

/* Status */

.status {
  font-weight: 600;
}

/* Table */

.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--text-dark);
}

.table > thead {
  padding: 0;
  background-color: var(--text-dark);
  color: var(--text-light);
}

.table > tbody .table-row:nth-child(odd) {
  background-color: var(--text-light);
}

.table > tbody .table-row:hover {
  background-color: var(--primary-color);
  color: var(--text-light);
}

.table > tbody .table-row:hover .action-link {
  color: var(--text-light);

  &:hover {
    color: var(--text-dark);
  }
}

.table-header,
.table-column {
  padding: 1rem;
  text-align: left;
}

.table-header {
  font-weight: 300;
}

/* ===== Navigation ===== */

.navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  width: min(100%, 180px);
}

.navigation-link {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  padding: 0.5rem;
  font-size: clamp(1rem, 0.964rem + 0.18vw, 1.1rem);
  font-weight: 500;
  text-decoration: none;
  color: var(--text-primary);
  background-color: var(--accent-orange);
  border-radius: 0.5rem;
  transition:
    background-color 0.5s,
    color 0.3s;

  &:hover {
    background-color: var(--primary-dark);
    color: var(--text-light);
  }
}

/* ===== FIXME: Card ===== */

.card-list {
  display: grid;
  gap: 1rem;
}

.card {
  width: 100%;
  background-color: #fff;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  border: 1px solid var(--bg-secondary);
  border-radius: 0.5rem;
}

.card-avatar {
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 50%; */
  }
}

.card-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-actions {
  display: flex;
  gap: 1rem;
}

.card-title {
  margin: 0;
  color: var(--primary-dark);
  font-size: clamp(1.375rem, 1.33rem + 0.23vw, 1.5rem);
  font-weight: 600;
}

.card-content {
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 300px;
  margin-bottom: 2rem;
  padding: 1rem 0.5rem;
  background-color: var(--text-muted);
  border-radius: 0.5rem;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.info-label {
  width: 120px;
}

/* ===== Alert Messages ===== */

.alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 250px;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: var(--bg-primary);
  border-radius: 0.5rem;
}

.alert-error {
  color: var(--alert);
}

.alert-success {
  color: var(--success);
}

/* ===== Forms ===== */

.form-wrapper {
  width: 100%;
  max-width: 800px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.form-label {
  font-weight: 600;
}

.form-input,
.form-textarea {
  padding: 1rem;
  background-color: #fff;
  border: 2px solid var(--text-dark);
  border-radius: 0.5rem;
  transition: border-color 0.3s;

  &::placeholder {
    font-size: 0.875rem;
    color: var(--accent-purple);
  }

  &:focus {
    outline: none;
    border-color: var(--primary-color);
  }
}

.form-input {
  min-width: 250px;
  max-width: 50%;
}

.form-textarea {
  width: 100%;
  min-height: 150px;
}

.form-button {
  width: 100%;
  padding: 0.5rem;
  font-size: clamp(1rem, 0.964rem + 0.18vw, 1.1rem);
  font-weight: 600;
  color: inherit;
  background-color: transparent;
  border: 2px solid var(--text-dark);
  border-radius: 0.5rem;
  cursor: pointer;
  transition:
    background-color 0.5s,
    color 0.3s;

  &:focus {
    border-color: var(--primary-color);
  }

  &:hover,
  &:active {
    background-color: var(--primary-color);
    color: var(--text-light);
  }
}

.form-button--alert:hover {
  background-color: var(--color-error);
  color: var(--text-light);
}

/* ===== Login Page ===== */

.auth {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-45deg, var(--accent-purple), var(--color-light));
}

.auth-card {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--color-light);
  border: 1px solid var(--text-dark);
  border-radius: 0.5rem;
}

.auth-card > .logo {
  display: block;
  width: 220px;
  height: 60px;
  margin-bottom: 1rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.auth-title {
  color: var(--primary-dark);
  font-size: clamp(2rem, 1.818rem + 0.91vw, 2.5rem);
  font-weight: 600;
}
